body {
  background: orange;
}
h1 {
text-align: center;
}

#buttons-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-style: double;
  font-size: 2em;
}

.display {
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: white;
}
label {
  text-align: right;
  grid-row: 3;
}
.button {
text-align: center;
border-style: solid;
margin: 1px;
}

#result {
  grid-row: 1;
  grid-column: 1/ 4;
}
#operation {
  grid-row: 1;
  grid-column: 4;
  border-left-width: 0px;
}
#result, #entry{
grid-column: 1/ 5;
height: 40px;
border-style: solid;
font-size: 1.2em;
}
#choices {
  background-color: red;
  grid-column: 1/5;
  font-size: .5em;
}
#CA {
  background-color: orange;
  font-size: .5em;
}

#zero {
grid-column: 1/ 3;
}

#divide {
}

#backspace {
} 

#enter {
  grid-column: 4;
  grid-row: 7/ 9;
 }

#add {

}